---
import { Image } from "astro:assets";

import Guy from "./assets/guy.png";
import Mystery from "./assets/mystery.png";
---

<div class="w-screen h-screen flex flex-col justify-between relative">
  <Image
    class="pt-[35vh] max-w-[40vw] mr-[50vw] self-end"
    alt="its me"
    src={Guy}
  />
  <Image
    class="absolute bottom-0 max-w-[30vw] self-center"
    src={Mystery}
    alt="its a mystery!!"
  />
</div>
