.container {
  margin-top: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  text-align: center;
  color: var(--grey);
  opacity: 0.6;
  padding-top: 5vh;
  padding-bottom: 5vh;

  font-size: 4vw;

  display: flex;
  flex-direction: row;
}

.paragraph {
  color: var(--grey);
  padding-top: 5vh;

  font-size: 2vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 6vw;
  }

  .paragraph {
    font-size: 4vw;
    padding-top: 1vh;
  }
}

.icon {
  display: inline;
  max-height: 2rem;
  height: 5vh;
  fill: var(--grey);
  opacity: 0.6;
  padding-left: 0.75rem;
}

.container a {
  color: var(--link-blue);
  text-decoration: underline;
}

.hint {
  pointer-events: none;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;

  display: flex;
  justify-content: center;
}
