---
import MainHead from "../components/astro/main-head/index.astro";
import Signature from "../components/astro/signature/index.astro";
import FrappuccinoLink from "../components/astro/frappuccino-link/index.astro";
import Section from "../components/astro/section/index.astro";

import Logomark from "../components/svelte/logomark/index.svelte";

import CallToAction from "../components/react/call-to-action/index.jsx";
import Roles from "../components/react/roles/index.jsx";
import Companies from "../components/react/companies/index.jsx";
---

<html>
  <head>
    <MainHead title="ajrp" description="aaron pierce: software guy" />
  </head>
  <body>
    <Logomark client:load="svelte" />
    <div class="h-screen w-screen snap-y snap-mandatory overflow-y-scroll">
      <Section backgroundColor="#F9F9F9">
        <Signature />
      </Section>
      <Section backgroundColor="#FEE3AC">
        <Roles client:only="react" />
      </Section>
      <Section backgroundColor="#B5DCF0">
        <Companies />
      </Section>
      <Section backgroundColor="#AECEA6">
        <FrappuccinoLink /> 
      </Section>
      <Section backgroundColor="#E3C9D6">
        <CallToAction client:only="react" />
      </Section>
    </div>
  </body>
</html>
