---
import StaticSourceView from '../components/StaticSourceView.astro';
import Layout from '../layouts/Layout.astro';

const code = `console.log("hello");`;
const lang = 'js';
---

<Layout title="Welcome to Astro.">
    <main>
        <StaticSourceView code={code} lang={lang} />
    </main>
</Layout>
