---
import MainHead from "../components/MainHead.astro";
import Signature from "../components/Signature/index.astro";
import Logomark from "../components/Logomark/index.svelte";
import Roles from "../components/Roles/index.svelte";
import Companies from "../components/Companies/index.jsx";
import CallToAction from "../components/CallToAction/index.jsx";
import FrappuccinoLink from "../components/FrappuccinoLink/index.astro";

import Section from "../components/Section/index.astro";
---

<html>
  <head>
    <MainHead title="ajrp" description="Aaron Pierce: Developer / Ninja" />
  </head>
  <body>
    <Logomark />
    <div class="h-screen w-screen snap-y snap-mandatory overflow-y-scroll">
      <Section backgroundColor="#F9F9F9">
        <Signature />
      </Section>
      <Section backgroundColor="#FEE3AC" framework="svelte">
        <Roles />
      </Section>
      <Section backgroundColor="#B5DCF0" framework="react">
        <Companies />
      </Section>
      <Section backgroundColor="#AECEA6">
        <FrappuccinoLink /> 
      </Section>
      <Section backgroundColor="#E3C9D6" framework="preact">
        <CallToAction />
      </Section>
    </div>
  </body>
</html>
