---
import FrameworkBubble from "../framework-bubble/index.astro";
import { FRAMEWORKS } from "../framework-bubble/index.astro";

interface Props {
  backgroundColor: string;
  framework?: keyof typeof FRAMEWORKS;
}

const { backgroundColor, framework } = Astro.props;
---

<div
  class="snap-start h-screen w-screen max-h-[-webkit-fill-available] flex flex-col overflow-hidden"
  style={{ backgroundColor }}
>
  <div class="relative">
    <div class="absolute h-screen w-screen max-h-[-webkit-fill-available]">
      <slot />
    </div>
    <div
      class="select-none pointer-events-none absolute h-screen w-screen max-h-[-webkit-fill-available]"
    >
      {framework && <FrameworkBubble framework={framework} />}
    </div>
  </div>
</div>
