.container {
  margin-top: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: #666;
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 30px;
  }

  .paragraph {
    font-size: 15px;
  }
}

.paragraph {
  color: #666;
  padding-top: 5vh;
}

.character {
  position: relative;
  animation: moveUpDown 2s ease-in-out infinite;
}

.icon {
  display: inline;
  max-height: 0.75rem;
  height: 5vh;
  fill: #666;
  opacity: 0.6;
  padding-left: 0.75rem;
}

@keyframes moveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 5vh;
  }
}
