---
interface Props {
  backgroundColor: string;
}

const { backgroundColor } = Astro.props;
---

<div
  class="snap-start h-screen w-screen flex flex-col overflow-hidden"
  style={{ backgroundColor }}
>
  <slot />
</div>
